In [1]:
%pylab inline
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt

EVENT = {'INCOMING_CALL':0, 'OUTGOING_CALL':1, 'IDD_CALL':2, 'OUTGOING_SMS':4, 'INCOMING_SMS':5}

Populating the interactive namespace from numpy and matplotlib

In [76]:
infile = './AggregateData/agg_original.csv'
agg_data = pd.read_csv(infile, parse_dates=['first recds', 'last recds', 'last call', 
                                            'last sms', 'last idd', 'last activity'])

In [8]:
agg_data

,A_NUMBER,first recds,last recds,total records,num outgoing calls,out duration,out duration in sec,num incoming calls,in duration,in duration in sec,num IDD calls,num outgoing sms,num incoming sms,last call,last sms,last idd,last activity
0,710000810,2014-10-01 07:16:46,2015-03-31 19:23:17,3453,1004,0 days 19:30:22.000000000,70222,1173,0 days 22:11:50.000000000,79910,0,23,1253,2015-03-31 12:41:02,2015-03-19 15:59:17,NaT,2015-03-31 12:41:02
1,710002560,2014-10-01 06:01:11,2015-03-31 23:50:08,3158,1499,3 days 06:00:51.000000000,280851,456,0 days 10:00:42.000000000,36042,0,294,909,2015-03-31 20:18:22,2015-03-31 23:13:06,NaT,2015-03-31 23:13:06
2,710003902,2014-10-01 04:14:52,2015-03-31 22:12:31,3466,2095,4 days 23:24:44.000000000,429884,972,1 days 05:43:38.000000000,107018,0,4,395,2015-03-31 20:21:47,2015-02-26 09:49:21,NaT,2015-03-31 20:21:47
3,710004420,2014-10-01 11:17:05,2015-03-31 20:05:40,2368,840,0 days 17:48:09.000000000,64089,1069,0 days 16:28:57.000000000,59337,0,25,434,2015-03-31 20:05:40,2015-02-26 05:30:19,NaT,2015-03-31 20:05:40
4,710004816,2014-10-01 03:37:00,2015-03-31 13:15:26,3405,1642,4 days 01:57:12.000000000,352632,1467,4 days 10:24:53.000000000,383093,0,124,172,2015-03-31 09:24:38,2015-03-27 06:20:16,NaT,2015-03-31 09:24:38
5,710005499,2014-10-01 09:43:43,2015-03-31 21:10:51,3317,1046,2 days 22:44:54.000000000,254694,783,1 days 11:06:05.000000000,126365,15,30,1443,2015-03-31 16:37:28,2015-03-17 14:01:44,2015-01-08 12:44:40,2015-03-31 16:37:28
6,710007474,2014-10-01 07:30:17,2015-03-31 20:00:37,3286,1567,2 days 01:22:24.000000000,177744,1265,0 days 19:40:37.000000000,70837,0,43,411,2015-03-30 14:42:42,2015-03-25 20:48:50,NaT,2015-03-30 14:42:42
7,710008915,2015-02-18 18:01:59,2015-03-31 22:02:46,615,252,0 days 06:10:47.000000000,22247,233,0 days 04:42:20.000000000,16940,0,9,121,2015-03-31 20:10:53,2015-03-22 21:23:52,NaT,2015-03-31 20:10:53
8,710008952,2014-10-01 08:02:57,2015-03-31 16:54:36,2825,1689,4 days 16:56:43.000000000,406603,826,2 days 01:35:13.000000000,178513,0,24,286,2015-03-31 16:54:36,2015-03-29 17:23:25,NaT,2015-03-31 16:54:36
9,710010999,2014-10-01 08:00:59,2015-03-31 20:05:20,2737,1122,1 days 23:22:03.000000000,170523,895,1 days 17:11:44.000000000,148304,0,413,307,2015-03-31 17:40:10,2015-03-31 19:23:08,NaT,2015-03-31 19:23:08
10,710011709,2014-10-01 09:53:06,2015-03-31 08:09:16,587,353,0 days 21:24:44.000000000,77084,30,0 days 01:24:10.000000000,5050,105,1,98,2015-03-31 08:09:16,2015-03-04 18:22:40,2015-03-31 08:06:37,2015-03-31 08:09:16
11,710013538,2014-10-01 04:13:26,2015-03-31 19:05:38,4308,907,1 days 07:50:48.000000000,114648,612,0 days 18:46:12.000000000,67572,1,1478,1310,2015-03-31 15:55:25,2015-03-31 18:48:45,2014-10-09 09:01:15,2015-03-31 18:48:45
12,710013994,2014-10-01 07:05:43,2015-03-31 20:48:35,3341,1496,1 days 19:51:58.000000000,157918,1172,1 days 03:21:55.000000000,98515,0,10,663,2015-03-31 20:48:35,2015-02-20 11:18:36,NaT,2015-03-31 20:48:35
13,710014252,2014-10-01 06:34:32,2015-03-31 22:29:21,2940,719,1 days 14:42:41.000000000,139361,563,0 days 22:54:43.000000000,82483,0,459,1199,2015-03-31 22:29:21,2015-03-31 18:34:43,NaT,2015-03-31 22:29:21
14,710014837,2014-10-01 07:15:43,2015-03-31 20:20:31,2620,1661,2 days 00:01:26.000000000,172886,399,0 days 10:06:20.000000000,36380,0,46,514,2015-03-31 20:20:31,2015-03-31 19:32:12,NaT,2015-03-31 20:20:31
15,710015173,2014-10-01 18:54:29,2015-03-31 17:25:10,2700,1222,1 days 11:09:18.000000000,126558,633,0 days 16:04:58.000000000,57898,0,135,710,2015-03-31 17:25:10,2015-03-29 14:00:51,NaT,2015-03-31 17:25:10
16,710018885,2014-10-01 09:03:17,2015-03-31 16:20:54,3396,1809,1 days 11:42:45.000000000,128565,1002,0 days 19:12:28.000000000,69148,0,79,506,2015-03-31 16:20:54,2015-02-28 09:28:14,NaT,2015-03-31 16:20:54
17,710021159,2014-10-01 01:11:43,2015-03-31 22:16:20,3173,961,9 days 07:47:30.000000000,805650,928,12 days 07:34:44.000000000,1064084,0,570,714,2015-03-31 21:59:07,2015-03-31 18:49:07,NaT,2015-03-31 21:59:07
18,710022340,2014-10-01 08:17:43,2015-03-31 20:13:40,701,412,0 days 07:33:54.000000000,27234,148,0 days 02:23:52.000000000,8632,0,10,131,2015-03-31 17:27:53,2015-01-04 08:06:45,NaT,2015-03-31 17:27:53
19,710025107,2014-10-01 07:42:21,2015-03-31 19:36:13,2746,1746,1 days 13:19:26.000000000,134366,655,0 days 13:19:25.000000000,47965,0,127,218,2015-03-31 18:27:51,2015-03-11 18:59:02,NaT,2015-03-31 18:27:51
20,710027975,2014-10-01 07:38:17,2015-03-31 20:03:42,2155,1197,1 days 23:33:33.000000000,171213,577,0 days 11:52:14.000000000,42734,4,37,340,2015-03-31 19:45:59,2015-01-01 10:31:12,2015-01-03 10:09:11,2015-03-31 19:45:59
21,710028029,2014-10-01 05:50:36,2015-03-31 22:38:38,2984,2280,3 days 02:39:58.000000000,268798,242,0 days 03:51:57.000000000,13917,0,71,391,2015-03-31 22:38:38,2015-03-31 03:01:45,NaT,2015-03-31 22:38:38
22,710031298,2014-10-01 08:29:26,2015-03-31 20:40:00,1981,972,0 days 21:18:15.000000000,76695,752,0 days 18:28:56.000000000,66536,0,104,153,2015-03-31 20:40:00,2015-03-11 10:32:16,NaT,2015-03-31 20:40:00
23,710031545,2014-10-01 08:31:14,2015-03-31 20:00:16,2685,1235,1 days 11:27:46.000000000,127666,1180,1 days 06:56:52.000000000,111412,0,25,245,2015-03-31 19:56:42,2015-03-26 12:25:03,NaT,2015-03-31 19:56:42
24,710032941,2014-10-01 09:29:11,2015-03-30 17:13:28,347,0,0 days 00:00:00.000000000,0,0,0 days 00:00:00.000000000,0,0,0,347,NaT,NaT,NaT,NaT
25,710033285,2014-10-01 07:14:37,2015-03-31 22:10:53,3229,447,0 days 09:53:29.000000000,35609,2575,1 days 06:31:23.000000000,109883,1,0,206,2015-03-29 12:45:43,NaT,2014-11-04 20:54:41,2015-03-29 12:45:43
26,710035696,2014-10-01 09:10:15,2015-03-31 16:56:02,3031,2052,3 days 01:05:26.000000000,263126,644,1 days 01:50:02.000000000,93002,0,64,271,2015-03-31 12:16:16,2015-03-31 09:55:11,NaT,2015-03-31 12:16:16
27,710037223,2015-01-08 11:15:11,2015-03-31 22:08:29,994,730,1 days 14:26:36.000000000,138396,194,0 days 06:23:39.000000000,23019,0,10,60,2015-03-31 22:08:29,2015-01-22 15:26:02,NaT,2015-03-31 22:08:29
28,710038483,2014-10-01 09:42:28,2015-03-31 21:19:10,3030,1726,3 days 08:37:25.000000000,290245,958,2 days 09:02:40.000000000,205360,0,32,314,2015-03-31 21:19:10,2015-03-16 16:07:39,NaT,2015-03-31 21:19:10
29,710038506,2014-10-01 03:11:14,2015-03-31 20:45:22,3182,1685,2 days 02:18:42.000000000,181122,867,0 days 18:23:11.000000000,66191,0,158,472,2015-03-31 20:37:08,2015-03-31 16:13:13,NaT,2015-03-31 20:37:08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7534,719975363,2014-10-01 08:35:32,2015-03-31 21:07:14,2769,1558,1 days 12:25:37.000000000,131137,928,0 days 22:58:49.000000000,82729,0,10,273,2015-03-31 17:58:15,2015-02-26 18:53:32,NaT,2015-03-31 17:58:15
7535,719978652,2015-03-12 07:00:21,2015-03-31 22:50:01,488,228,0 days 07:25:06.000000000,26706,185,0 days 11:23:33.000000000,41013,0,34,41,2015-03-31 22:49:15,2015-03-31 06:09:13,NaT,2015-03-31 22:49:15
7536,719979089,2014-10-01 07:00:30,2015-03-31 20:00:09,2366,936,1 days 07:34:13.000000000,113653,686,0 days 13:52:55.000000000,49975,10,334,400,2015-03-31 20:00:09,2015-03-31 18:43:19,2015-03-27 07:20:05,2015-03-31 20:00:09
7537,719980103,2014-10-01 10:56:34,2015-03-31 19:59:56,2285,1308,2 days 01:24:03.000000000,177843,739,1 days 01:41:02.000000000,92462,0,7,231,2015-03-31 19:59:56,2015-03-26 16:23:35,NaT,2015-03-31 19:59:56
7538,719981026,2014-10-08 06:58:43,2015-03-31 20:59:38,4381,1138,5 days 09:33:44.000000000,466424,588,3 days 07:48:24.000000000,287304,0,1386,1269,2015-03-31 18:26:14,2015-03-31 17:01:10,NaT,2015-03-31 18:26:14
7539,719981358,2014-10-01 07:28:30,2015-03-31 20:43:52,2928,1986,4 days 21:28:19.000000000,422899,748,2 days 12:05:35.000000000,216335,0,59,135,2015-03-31 20:43:52,2015-03-19 20:19:42,NaT,2015-03-31 20:43:52
7540,719982250,2014-10-01 05:20:28,2015-03-31 21:19:24,3050,1570,1 days 07:06:13.000000000,111973,888,0 days 13:36:10.000000000,48970,0,500,92,2015-03-31 21:19:24,2015-03-25 07:11:12,NaT,2015-03-31 21:19:24
7541,719982360,2014-10-01 05:22:27,2015-03-31 20:14:24,2617,1177,1 days 02:33:34.000000000,95614,1172,1 days 04:44:45.000000000,103485,1,35,232,2015-03-31 20:14:24,2015-03-23 20:23:00,2014-12-30 19:23:34,2015-03-31 20:14:24
7542,719982596,2014-10-01 05:38:53,2015-03-31 17:53:54,2952,2038,3 days 14:48:21.000000000,312501,445,0 days 07:50:56.000000000,28256,0,10,459,2015-03-31 17:53:54,2015-03-17 08:37:28,NaT,2015-03-31 17:53:54
7543,719982910,2014-10-01 06:35:35,2015-03-31 21:24:49,3426,1860,2 days 10:25:28.000000000,210328,740,0 days 20:26:08.000000000,73568,0,70,756,2015-03-31 21:24:49,2015-03-18 18:27:57,NaT,2015-03-31 21:24:49
7544,719984598,2014-10-05 11:24:11,2015-03-31 20:00:11,189,40,0 days 01:20:22.000000000,4822,3,0 days 00:01:02.000000000,62,12,68,66,2015-03-13 20:39:28,2015-03-25 22:11:09,2015-03-23 15:39:14,2015-03-25 22:11:09
7545,719985486,2014-10-01 06:33:32,2015-03-31 17:18:07,2636,1820,2 days 11:19:30.000000000,213570,166,0 days 02:53:20.000000000,10400,1,2,647,2015-03-31 17:00:58,2015-03-15 10:04:39,2014-12-19 07:03:33,2015-03-31 17:00:58
7546,719986113,2014-10-01 06:44:06,2015-03-31 18:42:10,4102,2761,5 days 08:50:33.000000000,463833,864,1 days 08:03:55.000000000,115435,8,10,459,2015-03-31 18:42:10,2015-01-08 14:09:51,2015-03-20 23:54:10,2015-03-31 18:42:10
7547,719986199,2015-02-07 21:33:08,2015-03-31 21:57:11,489,61,0 days 08:44:57.000000000,31497,52,0 days 11:59:26.000000000,43166,0,194,182,2015-03-31 21:57:11,2015-03-31 20:06:20,NaT,2015-03-31 21:57:11
7548,719987177,2014-10-01 06:14:23,2015-03-31 18:13:14,3103,2203,2 days 23:16:54.000000000,256614,593,0 days 08:36:33.000000000,30993,0,13,294,2015-03-31 18:13:14,2015-03-24 17:24:46,NaT,2015-03-31 18:13:14
7549,719987862,2014-10-03 21:34:44,2015-03-31 23:59:48,4716,1119,3 days 09:12:24.000000000,292344,742,2 days 07:27:04.000000000,199624,0,1034,1821,2015-03-31 23:55:28,2015-03-31 23:59:48,NaT,2015-03-31 23:59:48
7550,719988922,2015-02-12 10:20:21,2015-03-31 21:42:00,744,379,0 days 11:12:47.000000000,40367,287,0 days 07:25:35.000000000,26735,0,9,69,2015-03-31 20:35:43,2015-03-26 12:30:37,NaT,2015-03-31 20:35:43
7551,719989152,2014-10-01 06:50:37,2015-03-31 19:52:52,3687,1922,1 days 20:08:02.000000000,158882,1339,1 days 08:04:15.000000000,115455,0,61,365,2015-03-31 17:23:59,2015-03-30 19:13:42,NaT,2015-03-31 17:23:59
7552,719991815,2014-10-01 06:16:56,2015-03-31 22:32:01,2420,1626,2 days 06:57:10.000000000,197830,527,0 days 10:43:04.000000000,38584,0,33,234,2015-03-31 21:50:08,2015-03-12 17:41:28,NaT,2015-03-31 21:50:08
7553,719992884,2014-11-01 12:25:11,2015-03-31 20:41:29,1086,432,0 days 09:02:34.000000000,32554,384,0 days 09:43:17.000000000,34997,0,44,226,2015-03-31 20:41:29,2015-03-29 20:12:34,NaT,2015-03-31 20:41:29
7554,719992957,2014-10-01 04:39:15,2015-03-31 20:22:23,2554,1601,1 days 05:25:36.000000000,105936,398,0 days 06:55:42.000000000,24942,0,78,477,2015-03-31 12:06:21,2015-03-31 11:12:36,NaT,2015-03-31 12:06:21
7555,719993990,2015-03-01 08:58:44,2015-03-31 18:58:55,358,71,0 days 06:32:36.000000000,23556,2,0 days 00:00:57.000000000,57,0,114,171,2015-03-29 07:33:27,2015-03-30 21:45:52,NaT,2015-03-30 21:45:52
7556,719994297,2014-10-01 07:33:37,2015-03-27 08:47:19,1508,584,1 days 03:30:40.000000000,99040,210,0 days 03:29:10.000000000,12550,4,375,335,2015-03-27 08:47:19,2015-03-26 22:23:13,2015-03-14 17:53:09,2015-03-27 08:47:19
7557,719994972,2014-10-01 03:56:14,2015-03-31 21:45:25,2006,1493,3 days 13:26:40.000000000,307600,491,0 days 15:48:20.000000000,56900,0,0,22,2015-03-31 20:55:22,NaT,NaT,2015-03-31 20:55:22
7558,719995179,2014-10-01 03:37:25,2015-03-31 13:30:43,2318,1182,2 days 17:23:35.000000000,235415,650,1 days 03:51:16.000000000,100276,0,12,474,2015-03-31 12:50:10,2015-03-13 09:50:07,NaT,2015-03-31 12:50:10
7559,719995614,2015-02-25 07:19:48,2015-03-31 20:38:11,508,204,1 days 02:48:06.000000000,96486,171,0 days 19:04:53.000000000,68693,0,31,102,2015-03-31 20:38:11,2015-03-31 18:44:55,NaT,2015-03-31 20:38:11
7560,719997739,2014-10-01 08:40:38,2015-03-31 18:54:08,2520,1159,3 days 03:16:16.000000000,270976,496,0 days 17:14:52.000000000,62092,11,258,596,2015-03-31 18:54:08,2015-03-31 17:42:42,2015-03-08 15:33:23,2015-03-31 18:54:08
7561,719998543,2014-10-01 06:58:31,2015-03-31 18:29:31,2018,1027,0 days 14:25:58.000000000,51958,797,0 days 09:54:52.000000000,35692,0,26,168,2015-03-31 14:54:14,2015-03-17 09:10:35,NaT,2015-03-31 14:54:14
7562,719998683,2014-10-01 07:27:59,2015-03-31 22:40:20,2492,1393,1 days 09:42:08.000000000,121328,877,1 days 00:12:40.000000000,87160,4,12,206,2015-03-31 18:16:37,2015-03-04 11:41:58,2014-12-25 19:24:07,2015-03-31 18:16:37
7563,719999025,2014-10-01 06:06:19,2015-03-31 21:27:33,2949,1237,3 days 09:39:00.000000000,293940,554,1 days 05:30:36.000000000,106236,2,346,810,2015-03-31 20:20:18,2015-03-31 13:58:03,2015-02-28 21:21:10,2015-03-31 20:20:18

In [9]:
agg_data.dtypes

A_NUMBER                        int64
first recds            datetime64[ns]
last recds             datetime64[ns]
total records                   int64
num outgoing calls              int64
out duration                   object
out duration in sec           float64
num incoming calls              int64
in duration                    object
in duration in sec            float64
num IDD calls                   int64
num outgoing sms                int64
num incoming sms                int64
last call              datetime64[ns]
last sms               datetime64[ns]
last idd               datetime64[ns]
last activity          datetime64[ns]
dtype: object

In [77]:
agg_data['avg duration/outcall'] = agg_data['out duration in sec']/agg_data['num outgoing calls']
agg_data['avg duration/incall'] = agg_data['in duration in sec']/agg_data['num incoming calls']
agg_data['record duration'] = (agg_data['last recds'] - agg_data['first recds']).dt.days
agg_data['avg outgoing calls/day'] = agg_data['num outgoing calls']/agg_data['record duration']
agg_data['avg incoming calls/day'] = agg_data['num incoming calls']/agg_data['record duration']

# Remove timedelta columns
agg_data.drop('in duration', axis=1, inplace=True)
agg_data.drop('out duration', axis=1, inplace=True)

In [78]:
# Set Churner Column
churn_duration_str = '30 days'
churn_timedelta = pd.to_timedelta(churn_duration_str)
end_date = pd.to_datetime('2015-4-1')

def churn_boolean(x):
    if x['last activity'] < (end_date - churn_timedelta):
        return 1
    else: return 0
    
agg_data['churner'] = agg_data.apply(churn_boolean, axis=1)

In [82]:
agg_data

,A_NUMBER,first recds,last recds,total records,num outgoing calls,out duration in sec,num incoming calls,in duration in sec,num IDD calls,num outgoing sms,...,last call,last sms,last idd,last activity,avg duration/outcall,avg duration/incall,record duration,avg outgoing calls/day,avg incoming calls/day,churner
0,710000810,2014-10-01 07:16:46,2015-03-31 19:23:17,3453,1004,70222,1173,79910,0,23,...,2015-03-31 12:41:02,2015-03-19 15:59:17,NaT,2015-03-31 12:41:02,69.942231,68.124467,181,5.546961,6.480663,0
1,710002560,2014-10-01 06:01:11,2015-03-31 23:50:08,3158,1499,280851,456,36042,0,294,...,2015-03-31 20:18:22,2015-03-31 23:13:06,NaT,2015-03-31 23:13:06,187.358906,79.039474,181,8.281768,2.519337,0
2,710003902,2014-10-01 04:14:52,2015-03-31 22:12:31,3466,2095,429884,972,107018,0,4,...,2015-03-31 20:21:47,2015-02-26 09:49:21,NaT,2015-03-31 20:21:47,205.195227,110.100823,181,11.574586,5.370166,0
3,710004420,2014-10-01 11:17:05,2015-03-31 20:05:40,2368,840,64089,1069,59337,0,25,...,2015-03-31 20:05:40,2015-02-26 05:30:19,NaT,2015-03-31 20:05:40,76.296429,55.507016,181,4.640884,5.906077,0
4,710004816,2014-10-01 03:37:00,2015-03-31 13:15:26,3405,1642,352632,1467,383093,0,124,...,2015-03-31 09:24:38,2015-03-27 06:20:16,NaT,2015-03-31 09:24:38,214.757613,261.140423,181,9.071823,8.104972,0
5,710005499,2014-10-01 09:43:43,2015-03-31 21:10:51,3317,1046,254694,783,126365,15,30,...,2015-03-31 16:37:28,2015-03-17 14:01:44,2015-01-08 12:44:40,2015-03-31 16:37:28,243.493308,161.385696,181,5.779006,4.325967,0
6,710007474,2014-10-01 07:30:17,2015-03-31 20:00:37,3286,1567,177744,1265,70837,0,43,...,2015-03-30 14:42:42,2015-03-25 20:48:50,NaT,2015-03-30 14:42:42,113.429483,55.997628,181,8.657459,6.988950,0
7,710008915,2015-02-18 18:01:59,2015-03-31 22:02:46,615,252,22247,233,16940,0,9,...,2015-03-31 20:10:53,2015-03-22 21:23:52,NaT,2015-03-31 20:10:53,88.281746,72.703863,41,6.146341,5.682927,0
8,710008952,2014-10-01 08:02:57,2015-03-31 16:54:36,2825,1689,406603,826,178513,0,24,...,2015-03-31 16:54:36,2015-03-29 17:23:25,NaT,2015-03-31 16:54:36,240.735938,216.117433,181,9.331492,4.563536,0
9,710010999,2014-10-01 08:00:59,2015-03-31 20:05:20,2737,1122,170523,895,148304,0,413,...,2015-03-31 17:40:10,2015-03-31 19:23:08,NaT,2015-03-31 19:23:08,151.981283,165.702793,181,6.198895,4.944751,0
10,710011709,2014-10-01 09:53:06,2015-03-31 08:09:16,587,353,77084,30,5050,105,1,...,2015-03-31 08:09:16,2015-03-04 18:22:40,2015-03-31 08:06:37,2015-03-31 08:09:16,218.368272,168.333333,180,1.961111,0.166667,0
11,710013538,2014-10-01 04:13:26,2015-03-31 19:05:38,4308,907,114648,612,67572,1,1478,...,2015-03-31 15:55:25,2015-03-31 18:48:45,2014-10-09 09:01:15,2015-03-31 18:48:45,126.403528,110.411765,181,5.011050,3.381215,0
12,710013994,2014-10-01 07:05:43,2015-03-31 20:48:35,3341,1496,157918,1172,98515,0,10,...,2015-03-31 20:48:35,2015-02-20 11:18:36,NaT,2015-03-31 20:48:35,105.560160,84.057167,181,8.265193,6.475138,0
13,710014252,2014-10-01 06:34:32,2015-03-31 22:29:21,2940,719,139361,563,82483,0,459,...,2015-03-31 22:29:21,2015-03-31 18:34:43,NaT,2015-03-31 22:29:21,193.826147,146.506217,181,3.972376,3.110497,0
14,710014837,2014-10-01 07:15:43,2015-03-31 20:20:31,2620,1661,172886,399,36380,0,46,...,2015-03-31 20:20:31,2015-03-31 19:32:12,NaT,2015-03-31 20:20:31,104.085491,91.177945,181,9.176796,2.204420,0
15,710015173,2014-10-01 18:54:29,2015-03-31 17:25:10,2700,1222,126558,633,57898,0,135,...,2015-03-31 17:25:10,2015-03-29 14:00:51,NaT,2015-03-31 17:25:10,103.566285,91.466035,180,6.788889,3.516667,0
16,710018885,2014-10-01 09:03:17,2015-03-31 16:20:54,3396,1809,128565,1002,69148,0,79,...,2015-03-31 16:20:54,2015-02-28 09:28:14,NaT,2015-03-31 16:20:54,71.069652,69.009980,181,9.994475,5.535912,0
17,710021159,2014-10-01 01:11:43,2015-03-31 22:16:20,3173,961,805650,928,1064084,0,570,...,2015-03-31 21:59:07,2015-03-31 18:49:07,NaT,2015-03-31 21:59:07,838.345473,1146.642241,181,5.309392,5.127072,0
18,710022340,2014-10-01 08:17:43,2015-03-31 20:13:40,701,412,27234,148,8632,0,10,...,2015-03-31 17:27:53,2015-01-04 08:06:45,NaT,2015-03-31 17:27:53,66.101942,58.324324,181,2.276243,0.817680,0
19,710025107,2014-10-01 07:42:21,2015-03-31 19:36:13,2746,1746,134366,655,47965,0,127,...,2015-03-31 18:27:51,2015-03-11 18:59:02,NaT,2015-03-31 18:27:51,76.956472,73.229008,181,9.646409,3.618785,0
20,710027975,2014-10-01 07:38:17,2015-03-31 20:03:42,2155,1197,171213,577,42734,4,37,...,2015-03-31 19:45:59,2015-01-01 10:31:12,2015-01-03 10:09:11,2015-03-31 19:45:59,143.035088,74.062392,181,6.613260,3.187845,0
21,710028029,2014-10-01 05:50:36,2015-03-31 22:38:38,2984,2280,268798,242,13917,0,71,...,2015-03-31 22:38:38,2015-03-31 03:01:45,NaT,2015-03-31 22:38:38,117.893860,57.508264,181,12.596685,1.337017,0
22,710031298,2014-10-01 08:29:26,2015-03-31 20:40:00,1981,972,76695,752,66536,0,104,...,2015-03-31 20:40:00,2015-03-11 10:32:16,NaT,2015-03-31 20:40:00,78.904321,88.478723,181,5.370166,4.154696,0
23,710031545,2014-10-01 08:31:14,2015-03-31 20:00:16,2685,1235,127666,1180,111412,0,25,...,2015-03-31 19:56:42,2015-03-26 12:25:03,NaT,2015-03-31 19:56:42,103.373279,94.416949,181,6.823204,6.519337,0
24,710032941,2014-10-01 09:29:11,2015-03-30 17:13:28,347,0,0,0,0,0,0,...,NaT,NaT,NaT,NaT,NaN,NaN,180,0.000000,0.000000,0
25,710033285,2014-10-01 07:14:37,2015-03-31 22:10:53,3229,447,35609,2575,109883,1,0,...,2015-03-29 12:45:43,NaT,2014-11-04 20:54:41,2015-03-29 12:45:43,79.662192,42.673010,181,2.469613,14.226519,0
26,710035696,2014-10-01 09:10:15,2015-03-31 16:56:02,3031,2052,263126,644,93002,0,64,...,2015-03-31 12:16:16,2015-03-31 09:55:11,NaT,2015-03-31 12:16:16,128.229045,144.413043,181,11.337017,3.558011,0
27,710037223,2015-01-08 11:15:11,2015-03-31 22:08:29,994,730,138396,194,23019,0,10,...,2015-03-31 22:08:29,2015-01-22 15:26:02,NaT,2015-03-31 22:08:29,189.583562,118.654639,82,8.902439,2.365854,0
28,710038483,2014-10-01 09:42:28,2015-03-31 21:19:10,3030,1726,290245,958,205360,0,32,...,2015-03-31 21:19:10,2015-03-16 16:07:39,NaT,2015-03-31 21:19:10,168.160487,214.363257,181,9.535912,5.292818,0
29,710038506,2014-10-01 03:11:14,2015-03-31 20:45:22,3182,1685,181122,867,66191,0,158,...,2015-03-31 20:37:08,2015-03-31 16:13:13,NaT,2015-03-31 20:37:08,107.490801,76.344867,181,9.309392,4.790055,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7534,719975363,2014-10-01 08:35:32,2015-03-31 21:07:14,2769,1558,131137,928,82729,0,10,...,2015-03-31 17:58:15,2015-02-26 18:53:32,NaT,2015-03-31 17:58:15,84.170090,89.147629,181,8.607735,5.127072,0
7535,719978652,2015-03-12 07:00:21,2015-03-31 22:50:01,488,228,26706,185,41013,0,34,...,2015-03-31 22:49:15,2015-03-31 06:09:13,NaT,2015-03-31 22:49:15,117.131579,221.691892,19,12.000000,9.736842,0
7536,719979089,2014-10-01 07:00:30,2015-03-31 20:00:09,2366,936,113653,686,49975,10,334,...,2015-03-31 20:00:09,2015-03-31 18:43:19,2015-03-27 07:20:05,2015-03-31 20:00:09,121.424145,72.849854,181,5.171271,3.790055,0
7537,719980103,2014-10-01 10:56:34,2015-03-31 19:59:56,2285,1308,177843,739,92462,0,7,...,2015-03-31 19:59:56,2015-03-26 16:23:35,NaT,2015-03-31 19:59:56,135.965596,125.117727,181,7.226519,4.082873,0
7538,719981026,2014-10-08 06:58:43,2015-03-31 20:59:38,4381,1138,466424,588,287304,0,1386,...,2015-03-31 18:26:14,2015-03-31 17:01:10,NaT,2015-03-31 18:26:14,409.862917,488.612245,174,6.540230,3.379310,0
7539,719981358,2014-10-01 07:28:30,2015-03-31 20:43:52,2928,1986,422899,748,216335,0,59,...,2015-03-31 20:43:52,2015-03-19 20:19:42,NaT,2015-03-31 20:43:52,212.940081,289.217914,181,10.972376,4.132597,0
7540,719982250,2014-10-01 05:20:28,2015-03-31 21:19:24,3050,1570,111973,888,48970,0,500,...,2015-03-31 21:19:24,2015-03-25 07:11:12,NaT,2015-03-31 21:19:24,71.320382,55.146396,181,8.674033,4.906077,0
7541,719982360,2014-10-01 05:22:27,2015-03-31 20:14:24,2617,1177,95614,1172,103485,1,35,...,2015-03-31 20:14:24,2015-03-23 20:23:00,2014-12-30 19:23:34,2015-03-31 20:14:24,81.235344,88.297782,181,6.502762,6.475138,0
7542,719982596,2014-10-01 05:38:53,2015-03-31 17:53:54,2952,2038,312501,445,28256,0,10,...,2015-03-31 17:53:54,2015-03-17 08:37:28,NaT,2015-03-31 17:53:54,153.337095,63.496629,181,11.259669,2.458564,0
7543,719982910,2014-10-01 06:35:35,2015-03-31 21:24:49,3426,1860,210328,740,73568,0,70,...,2015-03-31 21:24:49,2015-03-18 18:27:57,NaT,2015-03-31 21:24:49,113.079570,99.416216,181,10.276243,4.088398,0
7544,719984598,2014-10-05 11:24:11,2015-03-31 20:00:11,189,40,4822,3,62,12,68,...,2015-03-13 20:39:28,2015-03-25 22:11:09,2015-03-23 15:39:14,2015-03-25 22:11:09,120.550000,20.666667,177,0.225989,0.016949,0
7545,719985486,2014-10-01 06:33:32,2015-03-31 17:18:07,2636,1820,213570,166,10400,1,2,...,2015-03-31 17:00:58,2015-03-15 10:04:39,2014-12-19 07:03:33,2015-03-31 17:00:58,117.346154,62.650602,181,10.055249,0.917127,0
7546,719986113,2014-10-01 06:44:06,2015-03-31 18:42:10,4102,2761,463833,864,115435,8,10,...,2015-03-31 18:42:10,2015-01-08 14:09:51,2015-03-20 23:54:10,2015-03-31 18:42:10,167.994567,133.605324,181,15.254144,4.773481,0
7547,719986199,2015-02-07 21:33:08,2015-03-31 21:57:11,489,61,31497,52,43166,0,194,...,2015-03-31 21:57:11,2015-03-31 20:06:20,NaT,2015-03-31 21:57:11,516.344262,830.115385,52,1.173077,1.000000,0
7548,719987177,2014-10-01 06:14:23,2015-03-31 18:13:14,3103,2203,256614,593,30993,0,13,...,2015-03-31 18:13:14,2015-03-24 17:24:46,NaT,2015-03-31 18:13:14,116.483886,52.264755,181,12.171271,3.276243,0
7549,719987862,2014-10-03 21:34:44,2015-03-31 23:59:48,4716,1119,292344,742,199624,0,1034,...,2015-03-31 23:55:28,2015-03-31 23:59:48,NaT,2015-03-31 23:59:48,261.254692,269.035040,179,6.251397,4.145251,0
7550,719988922,2015-02-12 10:20:21,2015-03-31 21:42:00,744,379,40367,287,26735,0,9,...,2015-03-31 20:35:43,2015-03-26 12:30:37,NaT,2015-03-31 20:35:43,106.509235,93.153310,47,8.063830,6.106383,0
7551,719989152,2014-10-01 06:50:37,2015-03-31 19:52:52,3687,1922,158882,1339,115455,0,61,...,2015-03-31 17:23:59,2015-03-30 19:13:42,NaT,2015-03-31 17:23:59,82.664932,86.224795,181,10.618785,7.397790,0
7552,719991815,2014-10-01 06:16:56,2015-03-31 22:32:01,2420,1626,197830,527,38584,0,33,...,2015-03-31 21:50:08,2015-03-12 17:41:28,NaT,2015-03-31 21:50:08,121.666667,73.214421,181,8.983425,2.911602,0
7553,719992884,2014-11-01 12:25:11,2015-03-31 20:41:29,1086,432,32554,384,34997,0,44,...,2015-03-31 20:41:29,2015-03-29 20:12:34,NaT,2015-03-31 20:41:29,75.356481,91.138021,150,2.880000,2.560000,0
7554,719992957,2014-10-01 04:39:15,2015-03-31 20:22:23,2554,1601,105936,398,24942,0,78,...,2015-03-31 12:06:21,2015-03-31 11:12:36,NaT,2015-03-31 12:06:21,66.168645,62.668342,181,8.845304,2.198895,0
7555,719993990,2015-03-01 08:58:44,2015-03-31 18:58:55,358,71,23556,2,57,0,114,...,2015-03-29 07:33:27,2015-03-30 21:45:52,NaT,2015-03-30 21:45:52,331.774648,28.500000,30,2.366667,0.066667,0
7556,719994297,2014-10-01 07:33:37,2015-03-27 08:47:19,1508,584,99040,210,12550,4,375,...,2015-03-27 08:47:19,2015-03-26 22:23:13,2015-03-14 17:53:09,2015-03-27 08:47:19,169.589041,59.761905,177,3.299435,1.186441,0
7557,719994972,2014-10-01 03:56:14,2015-03-31 21:45:25,2006,1493,307600,491,56900,0,0,...,2015-03-31 20:55:22,NaT,NaT,2015-03-31 20:55:22,206.028131,115.885947,181,8.248619,2.712707,0
7558,719995179,2014-10-01 03:37:25,2015-03-31 13:30:43,2318,1182,235415,650,100276,0,12,...,2015-03-31 12:50:10,2015-03-13 09:50:07,NaT,2015-03-31 12:50:10,199.166667,154.270769,181,6.530387,3.591160,0
7559,719995614,2015-02-25 07:19:48,2015-03-31 20:38:11,508,204,96486,171,68693,0,31,...,2015-03-31 20:38:11,2015-03-31 18:44:55,NaT,2015-03-31 20:38:11,472.970588,401.713450,34,6.000000,5.029412,0
7560,719997739,2014-10-01 08:40:38,2015-03-31 18:54:08,2520,1159,270976,496,62092,11,258,...,2015-03-31 18:54:08,2015-03-31 17:42:42,2015-03-08 15:33:23,2015-03-31 18:54:08,233.801553,125.185484,181,6.403315,2.740331,0
7561,719998543,2014-10-01 06:58:31,2015-03-31 18:29:31,2018,1027,51958,797,35692,0,26,...,2015-03-31 14:54:14,2015-03-17 09:10:35,NaT,2015-03-31 14:54:14,50.592016,44.782936,181,5.674033,4.403315,0
7562,719998683,2014-10-01 07:27:59,2015-03-31 22:40:20,2492,1393,121328,877,87160,4,12,...,2015-03-31 18:16:37,2015-03-04 11:41:58,2014-12-25 19:24:07,2015-03-31 18:16:37,87.098349,99.384265,181,7.696133,4.845304,0
7563,719999025,2014-10-01 06:06:19,2015-03-31 21:27:33,2949,1237,293940,554,106236,2,346,...,2015-03-31 20:20:18,2015-03-31 13:58:03,2015-02-28 21:21:10,2015-03-31 20:20:18,237.623282,191.761733,181,6.834254,3.060773,0

In [75]:
# churners list
agg_data[agg_data['churner']==1]

,A_NUMBER,first recds,last recds,total records,num outgoing calls,out duration in sec,num incoming calls,in duration in sec,num IDD calls,num outgoing sms,...,last call,last sms,last idd,last activity,churner,avg duration/outcall,avg duration/incall,record duration,avg outgoing calls/day,avg incoming calls/day
220,710307905,2014-10-01 19:03:58,2015-03-31 13:14:27,282,16,2262,38,4077,0,2,...,2015-02-15 19:37:17,2015-02-14 08:29:19,NaT,2015-02-15 19:37:17,1,141.375000,107.289474,180,0.088889,0.211111
253,710342559,2014-11-17 18:58:12,2015-03-31 18:46:28,134,1,820,0,0,0,0,...,2014-12-24 16:19:36,NaT,NaT,2014-12-24 16:19:36,1,820.000000,NaN,133,0.007519,0.000000
917,711208643,2014-10-05 12:10:01,2015-03-01 22:00:23,11,9,890,1,213,0,1,...,2015-02-23 15:24:51,2015-03-01 22:00:23,NaT,2015-03-01 22:00:23,1,98.888889,213.000000,147,0.061224,0.006803
994,711318218,2015-02-06 21:38:53,2015-02-06 21:41:04,4,1,186,0,0,0,1,...,2015-02-06 21:39:27,2015-02-06 21:38:53,NaT,2015-02-06 21:39:27,1,186.000000,NaN,0,inf,NaN
1506,711976365,2014-10-01 17:04:19,2015-03-30 13:21:35,215,1,26,0,0,0,0,...,2015-02-15 07:28:30,NaT,NaT,2015-02-15 07:28:30,1,26.000000,NaN,179,0.005587,0.000000
1569,712055820,2014-10-01 19:34:53,2015-03-31 14:22:49,235,7,519,13,840,0,0,...,2015-02-10 09:08:55,NaT,NaT,2015-02-10 09:08:55,1,74.142857,64.615385,180,0.038889,0.072222
1794,712347810,2014-10-01 07:18:01,2015-03-31 10:42:00,182,6,1437,0,0,0,24,...,2015-02-28 10:06:56,2015-02-06 13:54:40,NaT,2015-02-28 10:06:56,1,239.500000,NaN,181,0.033149,0.000000
1879,712446703,2014-10-01 21:40:39,2015-03-31 11:41:17,318,2,119,5,55,0,3,...,2015-02-10 18:00:03,2015-01-02 20:00:38,NaT,2015-02-10 18:00:03,1,59.500000,11.000000,180,0.011111,0.027778
2547,713361397,2014-10-08 16:54:15,2015-03-29 20:25:10,5219,1408,190139,2942,640255,1,136,...,2015-02-25 18:07:46,2015-02-22 00:37:44,2014-10-18 19:52:54,2015-02-25 18:07:46,1,135.041903,217.625765,172,8.186047,17.104651
2855,713739298,2015-01-01 08:14:33,2015-03-27 07:12:16,77,2,283,1,21,0,0,...,2015-01-01 08:17:17,NaT,NaT,2015-01-01 08:17:17,1,141.500000,21.000000,84,0.023810,0.011905
2928,713844576,2014-10-01 00:25:05,2015-03-22 19:48:04,8894,2730,159808,4191,224787,1,73,...,2015-02-19 13:27:29,2015-02-19 11:44:16,2014-10-21 10:08:36,2015-02-19 13:27:29,1,58.537729,53.635648,172,15.872093,24.366279
3044,714006266,2014-12-31 19:59:45,2015-03-31 15:40:49,110,1,12,0,0,0,53,...,2015-01-01 04:51:55,2015-02-18 09:04:07,NaT,2015-02-18 09:04:07,1,12.000000,NaN,89,0.011236,0.000000
3291,714375610,2014-10-01 08:23:19,2015-03-31 14:22:53,209,3,71,5,494,0,1,...,2014-12-13 10:01:26,2014-11-14 14:07:10,NaT,2014-12-13 10:01:26,1,23.666667,98.800000,181,0.016575,0.027624
3399,714535202,2014-12-08 00:51:11,2015-03-31 09:03:47,163,1,34,1,13,0,22,...,2014-12-13 14:55:36,2015-03-01 20:17:31,NaT,2015-03-01 20:17:31,1,34.000000,13.000000,113,0.008850,0.008850
3709,714894952,2014-10-01 12:21:53,2015-03-31 19:03:46,212,5,549,1,7,0,0,...,2015-02-17 18:49:33,NaT,NaT,2015-02-17 18:49:33,1,109.800000,7.000000,181,0.027624,0.005525
4292,715659134,2014-10-01 06:56:11,2015-03-31 14:20:19,518,141,27732,56,5694,0,37,...,2014-12-12 11:15:49,2015-01-28 22:47:33,NaT,2015-01-28 22:47:33,1,196.680851,101.678571,181,0.779006,0.309392
4538,715947957,2014-10-01 10:00:17,2015-03-31 17:27:11,252,2,61,2,21,0,2,...,2014-11-19 14:03:36,2014-11-27 18:27:11,NaT,2014-11-27 18:27:11,1,30.500000,10.500000,181,0.011050,0.011050
4693,716185356,2014-10-01 08:02:38,2015-03-21 20:52:47,7151,1543,238176,3303,478477,0,830,...,2015-02-17 23:14:38,2015-02-15 10:18:35,NaT,2015-02-17 23:14:38,1,154.359041,144.861338,171,9.023392,19.315789
4818,716374739,2014-10-01 06:27:58,2015-01-14 16:49:46,22,16,1352,0,0,0,0,...,2015-01-14 16:49:46,NaT,NaT,2015-01-14 16:49:46,1,84.500000,NaN,105,0.152381,0.000000
5403,717153958,2014-10-23 21:00:01,2015-03-31 00:05:06,268,5,486,2,70,0,0,...,2015-02-24 21:38:27,NaT,NaT,2015-02-24 21:38:27,1,97.200000,35.000000,158,0.031646,0.012658
5405,717156262,2015-01-07 19:15:26,2015-03-30 17:00:22,86,1,17,1,18,0,3,...,2015-02-13 20:49:43,2015-02-22 10:53:43,NaT,2015-02-22 10:53:43,1,17.000000,18.000000,81,0.012346,0.012346
5442,717196013,2014-10-01 07:16:23,2015-03-31 10:24:06,238,4,178,12,577,0,2,...,2015-02-11 11:20:20,2014-11-10 06:21:05,NaT,2015-02-11 11:20:20,1,44.500000,48.083333,181,0.022099,0.066298
5720,717557486,2014-11-24 14:48:46,2015-03-31 13:40:05,189,2,338,11,3085,0,2,...,2014-11-24 15:38:06,2014-11-24 15:42:42,NaT,2014-11-24 15:42:42,1,169.000000,280.454545,126,0.015873,0.087302
6111,718042815,2014-10-01 06:53:57,2015-03-31 21:21:02,3659,304,97675,341,46172,6,17,...,2014-12-02 19:58:06,2014-12-02 12:49:05,2014-12-02 15:12:11,2014-12-02 19:58:06,1,321.299342,135.401760,181,1.679558,1.883978
6274,718252487,2014-10-19 22:07:10,2015-03-31 13:01:18,73,1,2,0,0,0,0,...,2014-10-31 09:34:02,NaT,NaT,2014-10-31 09:34:02,1,2.000000,NaN,162,0.006173,0.000000
6330,718320275,2014-10-17 21:57:36,2015-03-31 19:01:22,166,3,105,3,187,0,5,...,2015-01-23 19:33:52,2015-01-19 15:44:34,NaT,2015-01-23 19:33:52,1,35.000000,62.333333,164,0.018293,0.018293
6408,718433321,2014-10-01 16:21:58,2015-03-30 12:22:47,205,2,122,0,0,2,0,...,2014-12-09 17:49:21,NaT,2015-01-14 16:35:04,2015-01-14 16:35:04,1,61.000000,NaN,179,0.011173,0.000000
6878,719045673,2014-10-01 20:23:49,2015-03-30 20:47:45,223,4,134,0,0,0,0,...,2015-01-13 17:53:15,NaT,NaT,2015-01-13 17:53:15,1,33.500000,NaN,180,0.022222,0.000000
6955,719131728,2014-10-24 17:32:30,2015-03-30 21:42:31,222,14,3792,4,96,0,1,...,2015-01-06 13:29:15,2014-12-07 18:32:32,NaT,2015-01-06 13:29:15,1,270.857143,24.000000,157,0.089172,0.025478
7210,719473900,2014-10-13 12:35:28,2015-01-17 21:27:39,96,4,750,1,26,0,12,...,2015-01-17 21:27:39,2015-01-11 08:03:57,NaT,2015-01-17 21:27:39,1,187.500000,26.000000,96,0.041667,0.010417
7236,719511950,2014-10-05 10:30:57,2015-03-31 13:21:28,177,10,202,44,4165,0,0,...,2015-03-01 13:06:53,NaT,NaT,2015-03-01 13:06:53,1,20.200000,94.659091,177,0.056497,0.248588
7283,719589509,2014-10-01 12:04:20,2015-03-31 19:01:58,214,1,4,1,11,0,14,...,2015-01-02 10:41:22,2015-01-11 11:08:47,NaT,2015-01-11 11:08:47,1,4.000000,11.000000,181,0.005525,0.005525

In [86]:
agg_data.to_csv('for_classification.csv', index=False)