In [7]:
%pylab inline
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt

EVENT = {'INCOMING_CALL':0, 'OUTGOING_CALL':1, 'IDD_CALL':2, 'OUTGOING_SMS':4, 'INCOMING_SMS':5}

Populating the interactive namespace from numpy and matplotlib

In [11]:
infile = './AggregateData/agg_withoutCallCentre.csv'
agg_data = pd.read_csv(infile, parse_dates=['first recds', 'last recds', 'last call', 
                                            'last sms', 'last idd', 'last activity'])

In [12]:
agg_data['avg duration/outcall'] = agg_data['out duration in sec']/agg_data['num outgoing calls']
agg_data['avg duration/incall'] = agg_data['in duration in sec']/agg_data['num incoming calls']
agg_data['record duration'] = (agg_data['last recds'] - agg_data['first recds']).dt.days
agg_data['avg outgoing calls/day'] = agg_data['num outgoing calls']/agg_data['record duration']
agg_data['avg incoming calls/day'] = agg_data['num incoming calls']/agg_data['record duration']

# Remove timedelta columns
agg_data.drop('in duration', axis=1, inplace=True)
agg_data.drop('out duration', axis=1, inplace=True)

# Set Churner Column
churn_duration_str = '30 days'
churn_timedelta = pd.to_timedelta(churn_duration_str)
end_date = pd.to_datetime('2015-4-1')

def churn_boolean(x):
    if x['last recds'] < (end_date - churn_timedelta):
        return 1
    else: return 0
    
agg_data['churner'] = agg_data.apply(churn_boolean, axis=1)

In [13]:
agg_data

,A_NUMBER,first recds,last recds,total records,num outgoing calls,out duration in sec,num incoming calls,in duration in sec,num IDD calls,num outgoing sms,...,last call,last sms,last idd,last activity,avg duration/outcall,avg duration/incall,record duration,avg outgoing calls/day,avg incoming calls/day,churner
0,710000810,2014-10-01 07:16:46,2015-03-31 15:27:53,2275,1004,70222,1173,79910,0,23,...,2015-03-31 12:41:02,2015-03-19 15:59:17,NaT,2015-03-31 12:41:02,69.942231,68.124467,181,5.546961,6.480663,0
1,710002560,2014-10-01 06:01:11,2015-03-31 23:50:08,2818,1499,280851,456,36042,0,294,...,2015-03-31 20:18:22,2015-03-31 23:13:06,NaT,2015-03-31 23:13:06,187.358906,79.039474,181,8.281768,2.519337,0
2,710003902,2014-10-01 04:14:52,2015-03-31 20:21:47,3111,2095,429884,972,107018,0,4,...,2015-03-31 20:21:47,2015-02-26 09:49:21,NaT,2015-03-31 20:21:47,205.195227,110.100823,181,11.574586,5.370166,0
3,710004420,2014-10-01 11:17:05,2015-03-31 20:05:40,2008,840,64089,1069,59337,0,25,...,2015-03-31 20:05:40,2015-02-26 05:30:19,NaT,2015-03-31 20:05:40,76.296429,55.507016,181,4.640884,5.906077,0
4,710004816,2014-10-01 03:37:00,2015-03-31 13:15:26,3399,1642,352632,1467,383093,0,124,...,2015-03-31 09:24:38,2015-03-27 06:20:16,NaT,2015-03-31 09:24:38,214.757613,261.140423,181,9.071823,8.104972,0
5,710005499,2014-10-01 09:43:43,2015-03-31 21:10:51,2142,1046,254694,783,126365,15,30,...,2015-03-31 16:37:28,2015-03-17 14:01:44,2015-01-08 12:44:40,2015-03-31 16:37:28,243.493308,161.385696,181,5.779006,4.325967,0
6,710007474,2014-10-01 07:30:17,2015-03-31 20:00:37,3091,1567,177744,1265,70837,0,43,...,2015-03-30 14:42:42,2015-03-25 20:48:50,NaT,2015-03-30 14:42:42,113.429483,55.997628,181,8.657459,6.988950,0
7,710008915,2015-02-18 18:04:44,2015-03-31 20:10:53,498,252,22247,233,16940,0,9,...,2015-03-31 20:10:53,2015-03-22 21:23:52,NaT,2015-03-31 20:10:53,88.281746,72.703863,41,6.146341,5.682927,0
8,710008952,2014-10-01 08:47:13,2015-03-31 16:54:36,2565,1689,406603,826,178513,0,24,...,2015-03-31 16:54:36,2015-03-29 17:23:25,NaT,2015-03-31 16:54:36,240.735938,216.117433,181,9.331492,4.563536,0
9,710010999,2014-10-01 08:00:59,2015-03-31 20:05:20,2726,1122,170523,895,148304,0,413,...,2015-03-31 17:40:10,2015-03-31 19:23:08,NaT,2015-03-31 19:23:08,151.981283,165.702793,181,6.198895,4.944751,0
10,710011709,2014-10-01 09:53:06,2015-03-31 08:09:16,493,353,77084,30,5050,105,1,...,2015-03-31 08:09:16,2015-03-04 18:22:40,2015-03-31 08:06:37,2015-03-31 08:09:16,218.368272,168.333333,180,1.961111,0.166667,0
11,710013538,2014-10-01 04:13:26,2015-03-31 19:05:38,4162,907,114648,612,67572,1,1478,...,2015-03-31 15:55:25,2015-03-31 18:48:45,2014-10-09 09:01:15,2015-03-31 18:48:45,126.403528,110.411765,181,5.011050,3.381215,0
12,710013994,2014-10-01 08:19:18,2015-03-31 20:48:35,2690,1496,157918,1172,98515,0,10,...,2015-03-31 20:48:35,2015-02-20 11:18:36,NaT,2015-03-31 20:48:35,105.560160,84.057167,181,8.265193,6.475138,0
13,710014252,2014-10-01 06:42:17,2015-03-31 22:29:21,2366,719,139361,563,82483,0,459,...,2015-03-31 22:29:21,2015-03-31 18:34:43,NaT,2015-03-31 22:29:21,193.826147,146.506217,181,3.972376,3.110497,0
14,710014837,2014-10-01 11:36:01,2015-03-31 20:20:31,2159,1661,172886,399,36380,0,46,...,2015-03-31 20:20:31,2015-03-31 19:32:12,NaT,2015-03-31 20:20:31,104.085491,91.177945,181,9.176796,2.204420,0
15,710015173,2014-10-01 18:54:29,2015-03-31 17:25:10,2142,1222,126558,632,57867,0,135,...,2015-03-31 17:25:10,2015-03-29 14:00:51,NaT,2015-03-31 17:25:10,103.566285,91.561709,180,6.788889,3.511111,0
16,710018885,2014-10-01 09:03:17,2015-03-31 16:20:54,3038,1809,128565,1001,69080,0,79,...,2015-03-31 16:20:54,2015-02-28 09:28:14,NaT,2015-03-31 16:20:54,71.069652,69.010989,181,9.994475,5.530387,0
17,710021159,2014-10-01 04:54:45,2015-03-31 22:16:20,3033,961,805650,928,1064084,0,570,...,2015-03-31 21:59:07,2015-03-31 18:49:07,NaT,2015-03-31 21:59:07,838.345473,1146.642241,181,5.309392,5.127072,0
18,710022340,2014-10-01 08:17:43,2015-03-31 20:13:40,574,412,27234,148,8632,0,10,...,2015-03-31 17:27:53,2015-01-04 08:06:45,NaT,2015-03-31 17:27:53,66.101942,58.324324,181,2.276243,0.817680,0
19,710025107,2014-10-01 07:42:21,2015-03-31 19:36:13,2579,1746,134366,655,47965,0,127,...,2015-03-31 18:27:51,2015-03-11 18:59:02,NaT,2015-03-31 18:27:51,76.956472,73.229008,181,9.646409,3.618785,0
20,710027975,2014-10-01 07:38:17,2015-03-31 19:45:59,1842,1197,171213,576,42667,4,37,...,2015-03-31 19:45:59,2015-01-01 10:31:12,2015-01-03 10:09:11,2015-03-31 19:45:59,143.035088,74.074653,181,6.613260,3.182320,0
21,710028029,2014-10-01 05:50:36,2015-03-31 22:38:38,2930,2280,268798,242,13917,0,71,...,2015-03-31 22:38:38,2015-03-31 03:01:45,NaT,2015-03-31 22:38:38,117.893860,57.508264,181,12.596685,1.337017,0
22,710031298,2014-10-01 08:29:26,2015-03-31 20:40:00,1922,972,76695,752,66536,0,104,...,2015-03-31 20:40:00,2015-03-11 10:32:16,NaT,2015-03-31 20:40:00,78.904321,88.478723,181,5.370166,4.154696,0
23,710031545,2014-10-01 08:31:14,2015-03-31 20:00:16,2474,1235,127666,1180,111412,0,25,...,2015-03-31 19:56:42,2015-03-26 12:25:03,NaT,2015-03-31 19:56:42,103.373279,94.416949,181,6.823204,6.519337,0
24,710032941,2014-10-01 09:29:11,2015-03-30 17:13:28,143,0,0,0,0,0,0,...,NaT,NaT,NaT,NaT,NaN,NaN,180,0.000000,0.000000,0
25,710033285,2014-10-01 07:14:37,2015-03-31 22:10:53,3037,447,35609,2575,109883,1,0,...,2015-03-29 12:45:43,NaT,2014-11-04 20:54:41,2015-03-29 12:45:43,79.662192,42.673010,181,2.469613,14.226519,0
26,710035696,2014-10-01 09:10:15,2015-03-31 16:56:02,2823,2052,263126,644,93002,0,64,...,2015-03-31 12:16:16,2015-03-31 09:55:11,NaT,2015-03-31 12:16:16,128.229045,144.413043,181,11.337017,3.558011,0
27,710037223,2015-01-08 17:45:20,2015-03-31 22:08:29,975,730,138396,194,23019,0,10,...,2015-03-31 22:08:29,2015-01-22 15:26:02,NaT,2015-03-31 22:08:29,189.583562,118.654639,82,8.902439,2.365854,0
28,710038483,2014-10-01 09:42:28,2015-03-31 21:19:10,2773,1726,290245,958,205360,0,32,...,2015-03-31 21:19:10,2015-03-16 16:07:39,NaT,2015-03-31 21:19:10,168.160487,214.363257,181,9.535912,5.292818,0
29,710038506,2014-10-01 03:11:14,2015-03-31 20:45:22,3176,1685,181122,867,66191,0,158,...,2015-03-31 20:37:08,2015-03-31 16:13:13,NaT,2015-03-31 20:37:08,107.490801,76.344867,181,9.309392,4.790055,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7511,719975363,2014-10-01 08:35:32,2015-03-31 21:07:14,2601,1558,131137,928,82729,0,10,...,2015-03-31 17:58:15,2015-02-26 18:53:32,NaT,2015-03-31 17:58:15,84.170090,89.147629,181,8.607735,5.127072,0
7512,719978652,2015-03-12 07:00:21,2015-03-31 22:50:01,482,228,26706,185,41013,0,34,...,2015-03-31 22:49:15,2015-03-31 06:09:13,NaT,2015-03-31 22:49:15,117.131579,221.691892,19,12.000000,9.736842,0
7513,719979089,2014-10-01 07:00:30,2015-03-31 20:00:09,2110,936,113653,686,49975,10,334,...,2015-03-31 20:00:09,2015-03-31 18:43:19,2015-03-27 07:20:05,2015-03-31 20:00:09,121.424145,72.849854,181,5.171271,3.790055,0
7514,719980103,2014-10-01 10:56:34,2015-03-31 19:59:56,2164,1308,177843,739,92462,0,7,...,2015-03-31 19:59:56,2015-03-26 16:23:35,NaT,2015-03-31 19:59:56,135.965596,125.117727,181,7.226519,4.082873,0
7515,719981026,2014-10-08 06:58:43,2015-03-31 20:59:38,4335,1138,466424,588,287304,0,1386,...,2015-03-31 18:26:14,2015-03-31 17:01:10,NaT,2015-03-31 18:26:14,409.862917,488.612245,174,6.540230,3.379310,0
7516,719981358,2014-10-01 07:28:30,2015-03-31 20:43:52,2847,1986,422899,748,216335,0,59,...,2015-03-31 20:43:52,2015-03-19 20:19:42,NaT,2015-03-31 20:43:52,212.940081,289.217914,181,10.972376,4.132597,0
7517,719982250,2014-10-01 05:20:28,2015-03-31 21:19:24,2997,1570,111973,888,48970,0,500,...,2015-03-31 21:19:24,2015-03-25 07:11:12,NaT,2015-03-31 21:19:24,71.320382,55.146396,181,8.674033,4.906077,0
7518,719982360,2014-10-01 05:22:27,2015-03-31 20:14:24,2438,1177,95614,1172,103485,1,35,...,2015-03-31 20:14:24,2015-03-23 20:23:00,2014-12-30 19:23:34,2015-03-31 20:14:24,81.235344,88.297782,181,6.502762,6.475138,0
7519,719982596,2014-10-01 05:38:53,2015-03-31 17:53:54,2832,2038,312501,445,28256,0,10,...,2015-03-31 17:53:54,2015-03-17 08:37:28,NaT,2015-03-31 17:53:54,153.337095,63.496629,181,11.259669,2.458564,0
7520,719982910,2014-10-01 06:35:35,2015-03-31 21:24:49,3035,1860,210328,740,73568,0,70,...,2015-03-31 21:24:49,2015-03-18 18:27:57,NaT,2015-03-31 21:24:49,113.079570,99.416216,181,10.276243,4.088398,0
7521,719984598,2014-10-05 11:24:11,2015-03-27 20:00:09,140,40,4822,3,62,12,68,...,2015-03-13 20:39:28,2015-03-25 22:11:09,2015-03-23 15:39:14,2015-03-25 22:11:09,120.550000,20.666667,173,0.231214,0.017341,0
7522,719985486,2014-10-01 06:33:32,2015-03-31 17:18:07,2294,1820,213570,166,10400,1,2,...,2015-03-31 17:00:58,2015-03-15 10:04:39,2014-12-19 07:03:33,2015-03-31 17:00:58,117.346154,62.650602,181,10.055249,0.917127,0
7523,719986113,2014-10-01 06:44:06,2015-03-31 18:42:10,4094,2761,463833,863,115423,8,10,...,2015-03-31 18:42:10,2015-01-08 14:09:51,2015-03-20 23:54:10,2015-03-31 18:42:10,167.994567,133.746234,181,15.254144,4.767956,0
7524,719986199,2015-02-07 21:33:08,2015-03-31 21:57:11,479,61,31497,52,43166,0,194,...,2015-03-31 21:57:11,2015-03-31 20:06:20,NaT,2015-03-31 21:57:11,516.344262,830.115385,52,1.173077,1.000000,0
7525,719987177,2014-10-01 06:14:23,2015-03-31 18:13:14,2821,2203,256614,593,30993,0,13,...,2015-03-31 18:13:14,2015-03-24 17:24:46,NaT,2015-03-31 18:13:14,116.483886,52.264755,181,12.171271,3.276243,0
7526,719987862,2014-10-03 21:34:44,2015-03-31 23:59:48,4715,1119,292344,742,199624,0,1034,...,2015-03-31 23:55:28,2015-03-31 23:59:48,NaT,2015-03-31 23:59:48,261.254692,269.035040,179,6.251397,4.145251,0
7527,719988922,2015-02-12 10:40:41,2015-03-31 21:42:00,686,379,40367,287,26735,0,9,...,2015-03-31 20:35:43,2015-03-26 12:30:37,NaT,2015-03-31 20:35:43,106.509235,93.153310,47,8.063830,6.106383,0
7528,719989152,2014-10-01 06:50:37,2015-03-31 19:52:52,3420,1922,158882,1339,115455,0,61,...,2015-03-31 17:23:59,2015-03-30 19:13:42,NaT,2015-03-31 17:23:59,82.664932,86.224795,181,10.618785,7.397790,0
7529,719991815,2014-10-01 06:16:56,2015-03-31 22:32:01,2411,1626,197830,527,38584,0,33,...,2015-03-31 21:50:08,2015-03-12 17:41:28,NaT,2015-03-31 21:50:08,121.666667,73.214421,181,8.983425,2.911602,0
7530,719992884,2014-11-01 12:25:11,2015-03-31 20:41:29,1076,432,32554,384,34997,0,44,...,2015-03-31 20:41:29,2015-03-29 20:12:34,NaT,2015-03-31 20:41:29,75.356481,91.138021,150,2.880000,2.560000,0
7531,719992957,2014-10-01 04:39:15,2015-03-31 17:10:05,2197,1601,105936,398,24942,0,78,...,2015-03-31 12:06:21,2015-03-31 11:12:36,NaT,2015-03-31 12:06:21,66.168645,62.668342,181,8.845304,2.198895,0
7532,719993990,2015-03-01 08:58:44,2015-03-31 18:58:35,330,71,23556,2,57,0,114,...,2015-03-29 07:33:27,2015-03-30 21:45:52,NaT,2015-03-30 21:45:52,331.774648,28.500000,30,2.366667,0.066667,0
7533,719994297,2014-10-01 07:33:37,2015-03-27 08:47:19,1426,584,99040,210,12550,4,375,...,2015-03-27 08:47:19,2015-03-26 22:23:13,2015-03-14 17:53:09,2015-03-27 08:47:19,169.589041,59.761905,177,3.299435,1.186441,0
7534,719994972,2014-10-01 03:56:14,2015-03-31 21:45:25,1992,1493,307600,491,56900,0,0,...,2015-03-31 20:55:22,NaT,NaT,2015-03-31 20:55:22,206.028131,115.885947,181,8.248619,2.712707,0
7535,719995179,2014-10-01 03:37:25,2015-03-31 12:50:10,1918,1182,235415,650,100276,0,12,...,2015-03-31 12:50:10,2015-03-13 09:50:07,NaT,2015-03-31 12:50:10,199.166667,154.270769,181,6.530387,3.591160,0
7536,719995614,2015-02-25 07:19:48,2015-03-31 20:38:11,508,204,96486,171,68693,0,31,...,2015-03-31 20:38:11,2015-03-31 18:44:55,NaT,2015-03-31 20:38:11,472.970588,401.713450,34,6.000000,5.029412,0
7537,719997739,2014-10-01 08:44:18,2015-03-31 18:54:08,2131,1159,270976,495,62025,11,258,...,2015-03-31 18:54:08,2015-03-31 17:42:42,2015-03-08 15:33:23,2015-03-31 18:54:08,233.801553,125.303030,181,6.403315,2.734807,0
7538,719998543,2014-10-01 06:58:31,2015-03-31 18:29:31,1899,1027,51958,797,35692,0,26,...,2015-03-31 14:54:14,2015-03-17 09:10:35,NaT,2015-03-31 14:54:14,50.592016,44.782936,181,5.674033,4.403315,0
7539,719998683,2014-10-01 07:27:59,2015-03-31 22:40:20,2319,1393,121328,877,87160,4,12,...,2015-03-31 18:16:37,2015-03-04 11:41:58,2014-12-25 19:24:07,2015-03-31 18:16:37,87.098349,99.384265,181,7.696133,4.845304,0
7540,719999025,2014-10-01 06:06:19,2015-03-31 21:27:33,2635,1237,293940,554,106236,2,346,...,2015-03-31 20:20:18,2015-03-31 13:58:03,2015-02-28 21:21:10,2015-03-31 20:20:18,237.623282,191.761733,181,6.834254,3.060773,0

In [14]:
# churners list
agg_data[agg_data['churner']==1]

,A_NUMBER,first recds,last recds,total records,num outgoing calls,out duration in sec,num incoming calls,in duration in sec,num IDD calls,num outgoing sms,...,last call,last sms,last idd,last activity,avg duration/outcall,avg duration/incall,record duration,avg outgoing calls/day,avg incoming calls/day,churner
163,710234493,2014-11-11 13:11:15,2015-02-09 08:29:10,4,0,0,0,0,0,4,...,NaT,2015-02-09 08:29:10,NaT,NaT,NaN,NaN,89,0.000000,0.000000,1
264,710358916,2014-10-18 11:46:07,2014-10-20 22:12:54,3,0,0,3,63,0,0,...,NaT,NaT,NaT,NaT,NaN,21.000000,2,0.000000,1.500000,1
429,710585617,2014-10-01 09:00:21,2015-01-09 09:01:14,58,0,0,1,8,0,0,...,NaT,NaT,NaT,NaT,NaN,8.000000,100,0.000000,0.010000,1
469,710635376,2014-10-15 14:15:51,2015-02-19 07:25:40,5,0,0,2,36,0,1,...,NaT,2014-10-15 14:15:51,NaT,NaT,NaN,18.000000,126,0.000000,0.015873,1
508,710682214,2014-12-30 18:53:29,2014-12-31 14:25:15,2,0,0,0,0,0,0,...,NaT,NaT,NaT,NaT,NaN,NaN,0,NaN,NaN,1
625,710839573,2014-10-07 15:27:24,2015-02-28 12:39:05,5,0,0,5,307,0,0,...,NaT,NaT,NaT,NaT,NaN,61.400000,143,0.000000,0.034965,1
689,710919109,2015-01-16 07:22:36,2015-01-16 07:22:36,1,0,0,0,0,0,0,...,NaT,NaT,NaT,NaT,NaN,NaN,0,NaN,NaN,1
804,711062439,2014-11-22 19:03:00,2014-12-21 18:47:58,10,0,0,0,0,0,6,...,NaT,2014-11-22 22:09:52,NaT,NaT,NaN,NaN,28,0.000000,0.000000,1
916,711208643,2014-10-05 12:10:01,2015-03-01 22:00:23,11,9,890,1,213,0,1,...,2015-02-23 15:24:51,2015-03-01 22:00:23,NaT,2015-03-01 22:00:23,98.888889,213.000000,147,0.061224,0.006803,1
992,711318218,2015-02-06 21:38:53,2015-02-06 21:39:27,2,1,186,0,0,0,1,...,2015-02-06 21:39:27,2015-02-06 21:38:53,NaT,2015-02-06 21:39:27,186.000000,NaN,0,inf,NaN,1
1009,711341574,2014-12-07 19:10:53,2015-01-07 17:15:58,4,0,0,2,32,0,0,...,NaT,NaT,NaT,NaT,NaN,16.000000,30,0.000000,0.066667,1
1047,711385777,2015-01-01 19:30:00,2015-03-01 17:53:30,8,0,0,0,0,0,0,...,NaT,NaT,NaT,NaT,NaN,NaN,58,0.000000,0.000000,1
1294,711720844,2014-10-13 15:28:33,2015-02-28 13:04:28,14,0,0,6,969,0,3,...,NaT,2014-10-21 09:36:22,NaT,NaT,NaN,161.500000,137,0.000000,0.043796,1
1304,711731180,2014-12-17 18:15:49,2014-12-31 13:58:38,4,0,0,0,0,0,0,...,NaT,NaT,NaT,NaT,NaN,NaN,13,0.000000,0.000000,1
1348,711789943,2014-12-22 14:09:21,2015-02-28 09:45:02,3,0,0,3,250,0,0,...,NaT,NaT,NaT,NaT,NaN,83.333333,67,0.000000,0.044776,1
1408,711869409,2014-10-08 11:31:20,2015-01-06 23:51:34,11,0,0,0,0,0,5,...,NaT,2014-12-04 13:30:15,NaT,NaT,NaN,NaN,90,0.000000,0.000000,1
1434,711900130,2014-10-20 12:15:20,2015-02-28 09:57:18,2,0,0,1,13,0,1,...,NaT,2014-10-20 12:15:20,NaT,NaT,NaN,13.000000,130,0.000000,0.007692,1
1558,712048065,2014-11-06 11:30:15,2015-02-11 14:26:54,28,0,0,0,0,0,0,...,NaT,NaT,NaT,NaT,NaN,NaN,97,0.000000,0.000000,1
1600,712112579,2014-12-08 13:53:00,2015-02-12 20:22:57,29,0,0,1,129,0,27,...,NaT,2015-02-12 20:22:57,NaT,NaT,NaN,129.000000,66,0.000000,0.015152,1
1787,712347810,2014-10-01 18:49:43,2015-02-28 10:06:56,55,6,1437,0,0,0,24,...,2015-02-28 10:06:56,2015-02-06 13:54:40,NaT,2015-02-28 10:06:56,239.500000,NaN,149,0.040268,0.000000,1
1874,712448461,2015-01-06 02:27:38,2015-02-08 06:33:02,11,0,0,0,0,0,0,...,NaT,NaT,NaT,NaT,NaN,NaN,33,0.000000,0.000000,1
1960,712570166,2014-11-11 18:03:37,2014-12-18 10:56:42,2,0,0,0,0,0,0,...,NaT,NaT,NaT,NaT,NaN,NaN,36,0.000000,0.000000,1
2284,713004492,2014-12-21 13:38:10,2015-01-06 02:35:36,3,0,0,0,0,0,0,...,NaT,NaT,NaT,NaT,NaN,NaN,15,0.000000,0.000000,1
2288,713009960,2014-10-02 20:22:11,2015-01-09 09:02:58,44,0,0,0,0,0,0,...,NaT,NaT,NaT,NaT,NaN,NaN,98,0.000000,0.000000,1
2464,713274195,2015-02-05 10:04:14,2015-02-05 10:04:14,1,0,0,0,0,0,0,...,NaT,NaT,NaT,NaT,NaN,NaN,0,NaN,NaN,1
2578,713416530,2015-02-09 18:39:08,2015-02-09 18:39:08,1,0,0,1,10,0,0,...,NaT,NaT,NaT,NaT,NaN,10.000000,0,NaN,inf,1
2596,713432146,2014-11-01 00:09:54,2014-12-22 06:46:37,15,0,0,0,0,0,0,...,NaT,NaT,NaT,NaT,NaN,NaN,51,0.000000,0.000000,1
2644,713482745,2014-11-27 09:10:04,2014-11-27 09:13:38,8,0,0,0,0,0,4,...,NaT,2014-11-27 09:13:38,NaT,NaT,NaN,NaN,0,NaN,NaN,1
2706,713574014,2014-11-25 13:08:34,2015-01-13 13:44:29,6,0,0,0,0,0,0,...,NaT,NaT,NaT,NaT,NaN,NaN,49,0.000000,0.000000,1
2845,713739298,2015-01-01 08:14:33,2015-01-08 07:12:35,5,2,283,1,21,0,0,...,2015-01-01 08:17:17,NaT,NaT,2015-01-01 08:17:17,141.500000,21.000000,6,0.333333,0.166667,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5370,717134732,2014-10-08 07:16:12,2014-10-24 20:00:22,9,0,0,1,36,0,7,...,NaT,2014-10-24 20:00:22,NaT,NaT,NaN,36.000000,16,0.000000,0.062500,1
5387,717156262,2015-01-20 21:31:18,2015-02-24 09:53:27,5,1,17,1,18,0,3,...,2015-02-13 20:49:43,2015-02-22 10:53:43,NaT,2015-02-22 10:53:43,17.000000,18.000000,34,0.029412,0.029412,1
5517,717304548,2015-02-27 14:07:20,2015-02-27 14:07:20,1,0,0,0,0,0,1,...,NaT,2015-02-27 14:07:20,NaT,NaT,NaN,NaN,0,NaN,NaN,1
5559,717367854,2015-01-01 15:31:07,2015-01-01 15:31:20,2,0,0,0,0,0,1,...,NaT,2015-01-01 15:31:20,NaT,NaT,NaN,NaN,0,NaN,NaN,1
5625,717457152,2014-10-12 14:14:09,2015-02-09 12:16:10,10,0,0,1,8,0,8,...,NaT,2015-02-09 12:16:10,NaT,NaT,NaN,8.000000,119,0.000000,0.008403,1
5751,717615721,2014-11-08 11:15:51,2014-12-21 00:21:02,6,0,0,0,0,0,6,...,NaT,2014-12-21 00:21:02,NaT,NaT,NaN,NaN,42,0.000000,0.000000,1
5781,717659985,2014-11-03 20:09:22,2015-02-28 09:39:02,12,0,0,3,71,0,8,...,NaT,2014-12-04 21:07:13,NaT,NaT,NaN,23.666667,116,0.000000,0.025862,1
5782,717661119,2014-12-14 12:32:56,2014-12-14 12:32:56,1,0,0,0,0,0,0,...,NaT,NaT,NaT,NaT,NaN,NaN,0,NaN,NaN,1
5878,717776357,2014-10-17 20:04:58,2015-02-28 10:35:20,14,0,0,2,36,0,7,...,NaT,2015-02-23 09:29:38,NaT,NaT,NaN,18.000000,133,0.000000,0.015038,1
5949,717866438,2014-12-31 13:30:42,2014-12-31 13:30:42,1,0,0,0,0,0,0,...,NaT,NaT,NaT,NaT,NaN,NaN,0,NaN,NaN,1
6161,718144705,2014-10-25 14:03:46,2014-12-30 16:40:12,6,0,0,0,0,0,0,...,NaT,NaT,NaT,NaT,NaN,NaN,66,0.000000,0.000000,1
6166,718149803,2014-10-11 08:55:00,2015-01-05 10:08:34,4,0,0,1,29,0,0,...,NaT,NaT,NaT,NaT,NaN,29.000000,86,0.000000,0.011628,1
6168,718151487,2014-10-23 11:29:40,2014-10-23 11:29:40,1,0,0,1,8,0,0,...,NaT,NaT,NaT,NaT,NaN,8.000000,0,NaN,inf,1
6172,718156644,2014-11-14 18:36:46,2014-12-17 18:57:52,7,0,0,0,0,0,6,...,NaT,2014-12-17 18:57:52,NaT,NaT,NaN,NaN,33,0.000000,0.000000,1
6177,718160586,2014-12-31 22:12:25,2014-12-31 22:12:25,1,0,0,0,0,0,1,...,NaT,2014-12-31 22:12:25,NaT,NaT,NaN,NaN,0,NaN,NaN,1
6247,718237919,2014-11-04 11:36:20,2015-01-05 22:04:41,4,0,0,1,14,0,0,...,NaT,NaT,NaT,NaT,NaN,14.000000,62,0.000000,0.016129,1
6255,718252487,2014-10-31 09:34:02,2014-11-14 00:04:43,10,1,2,0,0,0,0,...,2014-10-31 09:34:02,NaT,NaT,2014-10-31 09:34:02,2.000000,NaN,13,0.076923,0.000000,1
6279,718272257,2014-12-17 08:48:51,2014-12-31 12:36:44,4,0,0,0,0,0,0,...,NaT,NaT,NaT,NaT,NaN,NaN,14,0.000000,0.000000,1
6389,718433321,2014-10-31 08:52:28,2015-01-14 16:35:04,5,2,122,0,0,2,0,...,2014-12-09 17:49:21,NaT,2015-01-14 16:35:04,2015-01-14 16:35:04,61.000000,NaN,75,0.026667,0.000000,1
6647,718789099,2014-10-11 18:12:36,2015-02-27 18:22:32,5,0,0,0,0,0,0,...,NaT,NaT,NaT,NaT,NaN,NaN,139,0.000000,0.000000,1
6655,718798530,2014-11-02 13:27:17,2015-02-12 09:00:48,49,0,0,0,0,0,0,...,NaT,NaT,NaT,NaT,NaN,NaN,101,0.000000,0.000000,1
6799,718984221,2014-10-04 19:01:02,2015-01-19 08:56:12,5,0,0,2,765,0,0,...,NaT,NaT,NaT,NaT,NaN,382.500000,106,0.000000,0.018868,1
6876,719068938,2014-10-22 14:51:17,2014-10-22 14:51:17,1,0,0,1,7,0,0,...,NaT,NaT,NaT,NaT,NaN,7.000000,0,NaN,inf,1
6934,719131728,2014-10-24 17:50:27,2015-01-06 13:29:15,30,14,3792,4,96,0,1,...,2015-01-06 13:29:15,2014-12-07 18:32:32,NaT,2015-01-06 13:29:15,270.857143,24.000000,73,0.191781,0.054795,1
7113,719372363,2014-10-08 22:40:17,2014-12-16 13:08:09,729,0,0,0,0,0,727,...,NaT,2014-12-16 13:08:09,NaT,NaT,NaN,NaN,68,0.000000,0.000000,1
7189,719473900,2014-10-13 12:35:28,2015-01-17 21:27:39,94,4,750,1,26,0,12,...,2015-01-17 21:27:39,2015-01-11 08:03:57,NaT,2015-01-17 21:27:39,187.500000,26.000000,96,0.041667,0.010417,1
7215,719511950,2014-12-30 16:24:23,2015-03-01 13:06:53,54,10,202,44,4165,0,0,...,2015-03-01 13:06:53,NaT,NaT,2015-03-01 13:06:53,20.200000,94.659091,60,0.166667,0.733333,1
7272,719594829,2014-11-11 18:03:41,2014-12-27 20:23:58,3,0,0,0,0,0,0,...,NaT,NaT,NaT,NaT,NaN,NaN,46,0.000000,0.000000,1
7341,719707070,2014-12-14 12:21:39,2014-12-31 13:55:13,6,0,0,0,0,0,0,...,NaT,NaT,NaT,NaT,NaN,NaN,17,0.000000,0.000000,1
7488,719939693,2014-12-18 16:13:30,2014-12-31 15:49:56,3,0,0,0,0,0,0,...,NaT,NaT,NaT,NaT,NaN,NaN,12,0.000000,0.000000,1

In [15]:
agg_data.to_csv('for_classification_2.csv', index=False)